body {
    background-image: url("https://images.unsplash.com/photo-1704204656144-3dd12c110dd8?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YW1hem9uJTIwbG9nb3xlbnwwfHwwfHx8MA%3D%3D.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mydiv {
    color: darkgoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vh;
    text-align: center;
    margin-top: 150px;
    animation-name: moveIn;
    animation-duration: 2000ms;
  }
  
  @keyframes moveIn {
  
    50%,
    100% {
      transform: translateY(0em)
    }
  
    0% {
      opacity: 0;
      filter: blur(10px);
  
    }
  
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  
  .udiv {
    margin: 5vh;
    padding: 2vh;
    font-size: 4vh;
    width: 5%;
  }
  .udiv a{
    text-decoration: none;
  }
  .udiv:hover{
    text-decoration:solid;
  }