/* resumeStyle.css */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.resume-display {
    background-color: #181818;
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.resume-content h1 {
    font-size: 32px;
    color: #f40612;
    margin-bottom: 10px;
}

.resume-content .section h2 {
    color: #e0e0e0;
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.resume-content p {
    font-size: 16px;
    color: #bbbbbb;
    line-height: 1.5;
    margin: 8px 0;
}